[{{ php_settings__pool_webserver_user }}-{{ php_settings__pool_unix_user }}]

{% if php_settings__pool_tcp_ip_socket %}
listen = {{ php_settings__pool_tcp_ip_socket_listen }}

user = {{ php_settings__pool_webserver_user }}
group = {{ php_settings__pool_webserver_group }}
{% endif %}

{% if php_settings__pool_unix_user and php_settings__pool_unix_socket %}
listen = {{ php_settings__pool_socket_listen }}

user = {{ php_settings__pool_unix_user }}
group = {{ php_settings__pool_unix_group }}

listen.owner = {{ php_settings__pool_webserver_user }}
listen.group = {{ php_settings__pool_webserver_group }}
listen.mode = 0660
{% endif %}

pm = {{ php_settings__pool_pm }}
pm.max_children = {{ php_settings__pool_pm_max_children }}
pm.start_servers = {{ php_settings__pool_pm_start_servers }}
pm.min_spare_servers = {{ php_settings__pool_pm_min_spare_servers }}
pm.max_spare_servers = {{ php_settings__pool_pm_max_spare_servers }}
pm.max_requests = {{ php_settings__pool_pm_max_requests }}