[{{ php_fpm[item.key]['vars']['webserver_user'] }}-{{ php['version'] }}]

{% if php_fpm[item.key]['vars']['tcp_ip_socket']['enabled'] %}
listen = {{ php_fpm[item.key]['vars']['tcp_ip_socket']['listen'] }}

user = {{ php_fpm[item.key]['vars']['webserver_user'] }}
group = {{ php_fpm[item.key]['vars']['webserver_group'] }}
{% endif %}

{% if php_fpm[item.key]['vars']['unix_socket']['enabled'] %}
listen = {{ php_const[ansible_os_family][php.src]['php_fpm_unix_socket_path'] }}{{ php_fpm[item.key]['vars']['unix_socket']['file'] }}

user = {{ php_fpm[item.key]['vars']['unix_socket']['user'] }}
group = {{ php_fpm[item.key]['vars']['unix_socket']['group'] }}

listen.owner = {{ php_fpm[item.key]['vars']['webserver_user'] }}
listen.group = {{ php_fpm[item.key]['vars']['webserver_group'] }}
listen.mode = 0660
{% endif %}

pm = {{ php_fpm[item.key]['vars']['pm'] }}
pm.max_children = {{ php_fpm[item.key]['vars']['pm_max_children'] }}
pm.start_servers = {{ php_fpm[item.key]['vars']['pm_start_servers'] }}
pm.min_spare_servers = {{ php_fpm[item.key]['vars']['pm_min_spare_servers'] }}
pm.max_spare_servers = {{ php_fpm[item.key]['vars']['pm_max_spare_servers'] }}
pm.max_requests = {{ php_fpm[item.key]['vars']['pm_max_requests'] }}